.coursesEmpty {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: auto;
  width: 60%;
  min-width: 250px;
  height: 100px;

  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    text-decoration: none;
    gap: 10px;
    width: 85%;
    min-width: 210px;
    height: 40px;
    background: var(--theme-button-color);
    border-radius: 15px;
  }

  .button svg,
  span {
    display: flex;
    color: var(--theme-button-icon-text-color);
  }
}

.coursesEmpty span {
  display: flex;
  font: 600 17px Inter, sans-serif;
}

.coursesEmpty > span {
  color: var(--theme-text-color);
}
