.tabbar {
  background-color: var(--theme-header-tab-color);
  z-index: 9999;
  height: var(--tab-bar-height);
  display: flex;
  position: fixed;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: var(--tab-bar-padding);

  a {
    position: relative;
    margin: 0 auto;
    justify-content: center;
    background-color: var(--theme-header-tab-color);
    -webkit-tap-highlight-color: transparent;
    color: var(--theme-tab-icon-text-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font: 500 10px Inter, sans-serif;
    cursor: pointer;
    width: 60px;
  }

  .tabItemActive {
    color: var(--theme-header-text-color);
    cursor: default;
  }
}
